body{
	/* background-image: url("bgi.png"); */
	/* background-repeat: repeat; */
	background-color: #949494;
	padding: 0;
	margin: 0;
}
table, td, tr{
	border-style: none;
	border-width: 0;
}
#bg-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
}
img#bg{
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
}
#gradient-bottom{
	/* min-height: 100px; */
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: -10%;
	background: -moz-linear-gradient(top, rgba(218,228,231,0) 0%, rgba(218,228,231,0.4) 25%, rgba(218,228,231,1) 50%, rgba(218,228,231,1) 75%, rgba(218,228,231,0) 100%);
	background: -webkit-linear-gradient(top, rgba(218,228,231,0) 0%,rgba(218,228,231,1) 25%,rgba(218,228,231,1) 50%,rgba(218,228,231,1) 75%,rgba(218,228,231,0) 100%);
	background: linear-gradient(to bottom, rgba(218,228,231,0) 0%,rgba(218,228,231,1) 25%,rgba(218,228,231,1) 50%,rgba(218,228,231,1) 75%,rgba(218,228,231,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dae4e7', endColorstr='#00dae4e7',GradientType=0 );
}
div#content-page{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;-index: 5;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-image: url("bg-main.jpg");
	background-size: cover;
}
/*Main screen stylesheet*/

#logo{
	position: absolute;
	top: 0;
	left: 45%;
	right: 45%;
	color: #FFFFFF;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
.main{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.39);
	-moz-box-shadow:    0px 0px 11px 4px rgba(0, 0, 0, 0.39);
	box-shadow:         0px 0px 11px 4px rgba(0, 0, 0, 0.39);
}
#spacing-top{
	height: 35%;
}
#spacing-bottom{
	height: 20%;
}
.gradient-bottom{
	height: 30%;
	background: -moz-linear-gradient(top, rgba(218,228,231,0) 0%, rgba(218,228,231,0.9) 25%, rgba(218,228,231,1) 50%, rgba(218,228,231,0.9) 75%, rgba(218,228,231,0) 100%);
	background: -webkit-linear-gradient(top, rgba(218,228,231,0) 0%,rgba(218,228,231,0.9) 25%,rgba(218,228,231,1) 50%,rgba(218,228,231,0.9) 75%,rgba(218,228,231,0) 100%);
	background: linear-gradient(to bottom, rgba(218,228,231,0) 0%,rgba(218,228,231,0.9) 25%,rgba(218,228,231,1) 50%,rgba(218,228,231,0.9) 75%,rgba(218,228,231,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dae4e7', endColorstr='#00dae4e7',GradientType=0 );
}
#circles{
	width: 100%;
	height: 25%;
	margin: 0;
	padding: 0;
	display: block;
	color: white;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
#main-circles{
	float: left;
	width: 90%;
	position: absolute;
}
#circles a{
	text-decoration: none;
}
.circle-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 2vw;
}
.main-circles-wrapper{
	display: inline-block;
	padding: 0;
	margin: 0;
	transition: all .2s ease-in-out;
	border-radius: 50%;
	position: relative;
	height: 100%;
	width: 20%;
	min-width: 150px;
}
.main-circles{
	position: relative;
	width: 90%;
	min-width: 135px;
	border-radius: 50%;
	box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.5);
}
#side-circles{
	float: right;
	width: 10%;
	min-width: 100px;
	position: absolute;
	height: 30%;
	right: 0;
	padding: 0;
	margin: 0;
	/*padding-top: 3%;*/
	/*padding-bottom: 3%;*/
}
#circle-6-text, #circle-5-text{
	font-size: 2vh;
	/* font-size: 0.7em; */
	transform: translate(-50%, -60%);
}
.side-circles-wrapper{
	transition: all .2s ease-in-out;
	position: relative;
	height: 30%;
	width: 90%;
}
.side-circles{
	height: 90%;
	border-radius: 50%;
	box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.5);
}
/* .circle-img{
	position: relative;
	height: 100%;
} */

.main-circles-wrapper:hover, .side-circles-wrapper:hover{
	transform: scale(1.1);
	cursor: pointer;
}
#phone-svg{
	position: absolute;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}
#circle-1-text, #circle-2-text, #circle-3-text, #circle-4-text, #circle-5-text, #circle-6-text, #phone-svg{

	/*z-index: 4;*/
}
#circle-1-text{
	transform: translate(-50%, -45%);
}
#circle-4-text{
	transform: translate(-50%, -40%);
}
#circle-4-small-text{
	font-size: 0.5em;
	transform: translate(-50%, -0%);
}



/*text preview template*/
.article{
	padding-top: 10%;
}
.text-preview{
	font-family: 'Raleway', sans-serif;
	color: #19605D;
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
	padding-top: 30px;
	margin-bottom: 150px;
}
div.title{
	font-weight: bold;
	font-size: 2em;
	padding-left: 20px;
}
div.overline{
	background-color: #19605D;
	width: 70px;
	height: 3px;
	border-radius: 3px;
}
.text-preview div.title p{
	margin: 0;
	padding: 0;
}
.text-preview div.content{
	border-radius: 5px;
	background-color: #19605D;
	border: 2px solid white;
	color: #FFFFFF;
	word-break: keep-all;
	text-align: justify;
	overflow: hidden;
}
.text-preview div.content p{
	padding-left: 10px;
	padding-right: 10px;
}
.text-preview div.content div.read-more-container{
	/*width: 100%;*/
	text-align: center;
	cursor: pointer;
	/*background-image: linear-gradient(to bottom, transparent, );*/
}
.text-preview div.content div.read-more-container p.read-more{
	margin: 0;
	margin-bottom: 10px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #FFFFFF;
	color: #19605D;
	text-align: center;
	border-radius: 100px;
	box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-size: 0.8em;
}
.text-preview div.content div.read-more-container p.read-more a{
	color: #19605D;
	text-decoration: none;
	font-weight: bold;
}



/* Side page style */
.side-page-wrapper{
	background-color: rgba(0, 0, 0, 0.1);
	min-height: 110%;
	width: 100%;
	padding: 0;
	margin: 0;
	/* margin-bottom: 5%; */
	position: relative;
	-webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.39);
	-moz-box-shadow:    0px 0px 11px 4px rgba(0, 0, 0, 0.39);
	box-shadow:         0px 0px 11px 4px rgba(0, 0, 0, 0.39);
	/* padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%; */
}
.side-page-image-wrapper{
	height: 100%;
}
.sidepage_image{
	position: absolute;
	height: 100%;
	z-index: 3;
}
.right-sidepage-image{
	right: 0;
	-webkit-filter: drop-shadow(-12px 0px 24px rgba(0,0,0,0.5));
	filter: url(#drop-shadow-right);
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.left-sidepage-image{
	left: 0;
	-webkit-filter: drop-shadow(12px 0px 24px rgba(0,0,0,0.5));
	filter: url(#drop-shadow-left);
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.side-page{
	position: absolute;
	display: inline-block;
	height: 65%;
	width: 50%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 5%;
	padding-left: 20%;
	border-radius: 50px;
	z-index: 10;
}
.side-page div.title{
	margin: 0;
	padding: 0;
	font-weight: lighter;
	font-size: 2em;
	width: 100%;
	text-align: left;
	margin-bottom: 50px;
	font-family: 'Raleway', sans-serif;
	color: black;
}
.side-page div.title span{
	margin: 0;
	margin-left: -2em;
	padding: 0;
	position: absolute;
	display: inline-block;
}
.side-page div.title span div.underline{
	position: relative;
	left: 0;
	margin: 0;
	padding: 0;
	width: 120%;
	height: 3px;
	background-color: black;
}
.side-page div.content{
	/* background-color: #2D7471; */
	/* border-style: solid; */
	/* border-color: #DAE4E7; */
	/* border-radius: 10px; */
	padding: 20px;
}
.side-page div.content span.content-text{
	/* color: #DAE4E7;*/
	color: black;
}
.main{
	z-index: 10;
}
.page-1{
	background-color: #4f87b3;
	z-index: 9;
}
.page-2{
	background-color: #4fb3a1;
	z-index: 10;
}
.page-3{
	background-color: #5eb7bd;
	z-index: 9;
}

/* .shadow {
    -webkit-filter: drop-shadow(12px 12px 24px rgba(0,0,0,0.5));
    filter: url(#drop-shadow-right);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
} */
